@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600&display=swap');
*{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#B, #F, #R, #L, #S{
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 32px;
    background-color: #176C7C;
}
#B {
    top: 80px;
    left: -245px;
}
#F {
    top: -80px;
    left: 230px;
}
#R {
    right: -20px;  
}
#L {
    right: 20px;
}
#B:hover, #F:hover, #R:hover, #L:hover, #S:hover{
    background-color: #278699;
}